:root {
    /* CSS HEX */
--prussian-blue: #0b3954ff;
--teal: #087e8bff;
--columbia-blue: #bfd7eaff;
--bittersweet: #ff5a5fff;
--fire-engine-red: #c81d25ff;
}

body {
    font-family: roboto, Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}
@font-face {
    font-family: roboto;
    src: url(fonts/PixelifySans-VariableFont_wght.ttf);
}

button {
    font-size: 1.2em;
    font-family: roboto;
    padding: 5px 10px;
    border-radius: 5px;
    border-color: var(--prussian-blue);
}

.container {
    display: flex;
    height: 99vh;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 125px;
    color: var(--columbia-blue);
    background-color: var(--prussian-blue);
}

.main {
    flex: 1;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 75px;
    color: var(--columbia-blue);
    background-color: var(--prussian-blue);
}

.gamezone {
    position: relative;
    align-self: center;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    gap: 5px;
    padding: 5px;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: var(--teal);

    font-size: 2em;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: var(--columbia-blue);
    background-color: var(--teal);
}

.tokenX:hover:before {
    content: "X";
    opacity: 50%;
}

.tokenO:hover:before {
    content: "O";
    opacity: 50%;
}

#newGameForm {
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

dialog {
    width: 50%;
    font-size: 1.2em;
}

#gameOverContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputRow {
    margin: 5px;
}
