body {
    font-family: roboto, Arial, Helvetica, sans-serif;
}
@font-face {
    font-family: roboto;
    src: url(fonts/Roboto-Regular.ttf);
}

.container {
    display: flex;
    height: 99vh;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 125px;
    background-color: grey;
}

.main {
    flex: 1;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 75px;
    background-color: grey;
}

.gamezone {
    position: relative;
    align-self: center;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    gap: 5px;
    padding: 5px;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: grey;

    font-size: 2em;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: lightgrey;
}

.tokenX:hover:before {
    content: "X";
    opacity: 50%;
}

.tokenO:hover:before {
    content: "O";
    opacity: 50%;
}

#newGameForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* dialog {
    position:initial;
} */

.inputRow {
    margin: 5px;
}
